/* title and subtitle */
#title-block-header {
  margin-bottom: 0px;
}

/* social links: block of links */
.about-entity .about-links {
  flex-direction: row !important;
  justify-content: center !important;
  column-gap: 0em !important;
  font-size: 1.2em !important;
  padding-bottom: 0 !important;
}

/* social links: individual links */
.about-entity .about-link {
  padding: 0.25em 0.25em !important;
  border: none !important;  
}

/* about area */
.about-entity {
  height: fit-content !important;
  background-color: var(--about-bg-color);
  padding: 3em 2em 3em 2em !important;
  margin: 0em 2em 0em 2em;
  border-radius: 5px;
}

.about-image {
  width: 100% !important;
}

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  /* social links: block of links */
  .about-entity .about-links {
    font-size: 1.2em !important;
  }

  .about-entity {
    margin: 0em 2em 2em 2em;
  }
}

/* mobile query up for screens up to ~576px wide */
@media screen and (max-width: 576px) {

  /* wrap about me section */
  #about-me .grid {
    display: flex;
    flex-wrap: wrap;
  }

  /* social links: block of links */
  .about-entity .about-links {
    font-size: 1em !important;
  }

  /* about area */
  .about-entity {
    margin: 0em 2em 0em 2em;
  }
}